{{#each entries as |entry|}}
  <section data-id="{{entry._id}}" class='entry-log'>
    <h3>Title:</h3>
    <h6>
      {{entry.title}}
    </h6>
    <button data-id="{{entry._id}}" class='view-entry'>View</button>
  </section>

{{/each}}
